<h3>Master data</h3>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#!/Views/Home/Welcome.html">Home</a></li>
    <li class="breadcrumb-item">Pengaturan</li>
    <li class="breadcrumb-item">Pengguna</li>
</ol>


<div class="data-area col-sm-12">
    <ul class="option-toptable">
        <li>
            <div class="addoption">
                <a class="addbutton" onclick="openModal(this, '#tambahPengguna')"><i class="ms-icon-plus2"></i></a>
                <span class="tooltiptext">Tambah Pengguna</span>
            </div>
        </li>
        <li class="last">
            <form id="custom-search-form" class="form-search form-horizontal">
                <div class="input-group stylish-input-group">
                    <input type="text" class="table-search" placeholder="Search" id="myInput" onkeyup="myFunction()"><span class="searchicon-table"><i class="ms-icon-search2"></i></span>
                </div>
            </form>
        </li>

        <li class="pull-right">
            <div class="refresh">
                <button type="button" class="btn custom-btn" data-toggle="tooltip" data-placement="left" title="refresh"><i class="ms-icon-refresh2"></i></button>
            </div>
        </li>
    </ul>

    <!--------------------------------------------------------------------------------------------- LIST PENGGUNA-->
    <div class="row other-chart">
        <div class="table">
            <table id="table_pengguna" class="display responsive tableCheckbox" style="width:100%;">
                <thead>
                    <tr>
                        <th></th>
                        <th>NIP</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role ID</th>
                        <th class="action"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover-pns">
                        <td></td>
                        <td><a href="#!/Views/Profilpns/Detail.html">NA0001</a></td>
                        <td><a href="#">Charles Darwin</a></td>
                        <td><a href="#">Charles18@gmail.com</a></td>
                        <td><a href="#">Role 1</a></td>
                        <td class="action">
                            <a onclick="openModal(this, '#editPengguna')"><i class="ms-icon-pencil"></i></a>
                            <a href=""><i class="ms-icon-trash"></i></a>
                            <a href=""><i class="ms-icon-ellipsis"></i></a>
                        </td>
                    </tr>
                    <tr class="hover-pns">
                        <td></td>
                        <td><a href="#!/Views/Profilpns/Detail.html">NA0001</a></td>
                        <td><a href="#">Charles Darwin</a></td>
                        <td><a href="#">Charles18@gmail.com</a></td>
                        <td><a href="#">Role 1</a></td>
                        <td class="action">
                            <a onclick="openModal(this, '#editPengguna')"><i class="ms-icon-pencil"></i></a>
                            <a href=""><i class="ms-icon-trash"></i></a>
                            <a href=""><i class="ms-icon-ellipsis"></i></a>
                        </td>
                    </tr>
                    <tr class="hover-pns">
                        <td></td>
                        <td><a href="#!/Views/Profilpns/Detail.html">NA0001</a></td>
                        <td><a href="#">Charles Darwin</a></td>
                        <td><a href="#">Charles18@gmail.com</a></td>
                        <td><a href="#">Role 1</a></td>
                        <td class="action">
                            <a onclick="openModal(this, '#editPengguna')"><i class="ms-icon-pencil"></i></a>
                            <a href=""><i class="ms-icon-trash"></i></a>
                            <a href=""><i class="ms-icon-ellipsis"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <a href="#"><i class="ms-icon-chevronLeft"></i></a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#"><i class="ms-icon-chevronRight"></i></a>
        </div>
    </div>

</div>

<!---------------------------------------------------------------------------------------------OPENMODAL TAMBAH PENGGUNA-->
<!----------------------------------------------------------------------------------------------->

<div id="tambahPengguna" class="inline-modal">

    <h3>Tambah Pengguna<a href="javascript:void(0)" class="pull-right inline-modal-exit" onclick="closeApp(this)">&times;</a></h3>

    <form class="inputdata">
        <div class="form-group">
            <label>NIP</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <!-- ------- -->
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <!-- ------- -->
       
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <!-- ------- -->
        <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <!-- ------- -->
        <div class="form-group">
            <label>Role ID</label>
            <select class="form-control">
                <option selected>Pilih</option>
                <option>Role 1</option>
                <option>Role 2</option>
                <option>Role 3</option>
                <option>Role 4</option>
                <option>Role 5</option>
            </select>
        </div>
   
        <button type="submit" class="btn btn-primary">Simpan</button>
        <!-- ------- -->
    </form>

</div>




<!---------------------------------------------------------------------------------------------OPENMODAL EDIT Pengguna-->
<!----------------------------------------------------------------------------------------------->

<div id="editPengguna" class="inline-modal">

    <h3>Edit Pengguna<a href="javascript:void(0)" class="pull-right inline-modal-exit" onclick="closeApp(this)">&times;</a></h3>
    <form class="inputdata">
        <div class="form-group">
            <label>NIP</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <!-- ------- -->
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <!-- ------- -->

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <!-- ------- -->
        <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <!-- ------- -->
        <div class="form-group">
            <label>Role ID</label>
            <select class="form-control">
                <option selected>Pilih</option>
                <option>Role 1</option>
                <option>Role 2</option>
                <option>Role 3</option>
                <option>Role 4</option>
                <option>Role 5</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Simpan</button>
        <!-- ------- -->
    </form>
</div>


<script>
    $("tr.hover-pns").hover(function () {
        $(".action i").css("visibility", "visible");
    },function(){
        $(".action i").css("visibility", "hidden");
    });
</script>

<script>
    $("#Table_User").DataTable({
        dom: 'Bfrtip',
        responsive: true,
        colReorder: true,
        language: { search: "" },
        columnDefs: [{
            targets: [0],
            orderData: [0, 1]
        }, {
            targets: [2],
            orderData: [1, 0]
        },
        {
            'targets': 0,
            'searchable': false,
            'orderable': false,
            'className': 'dt-body-center'

        },
        {
            'targets': 1,
            'searchable': false,
            'orderable': false,
            'className': 'dt-body-center'

        }
        ],
        order: [[2, 'asc']],
        buttons: [{
            extend: 'collection',
            text: 'Export',
            buttons: [
                'copy',
                'excel',
                'csv',
                'pdf',
                'print'
            ]
        }]
    });



    $("#select-all2").click(function () {
        $('.select-item').attr('checked', this.checked);
    });


    $(".select-item").click(function () {

        if ($(".select-item").length == $(".select-item:checked").length) {
            $("#select-all2").attr("checked", "checked");
        } else {
            $("#select-all2").removeAttr("checked");
        }

    });


    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

