<div class="homepage">
    <img src="../../Content/assets/bgmugi.jpg" />
</div>
<section id="prolog">
    <div class="container">
        <div class="col-md-3">
            <div class="text-logo">
                <h2>Microsoft User Group Indonesia</h2>
            </div>
        </div>
        <div class="col-md-9">
            <p class="description-text">
                MUGI adalah sebuah komunitas bagi para pengguna, penggemar serta pemerhati produk dan teknologi Microsoft.
            </p>
        </div>
    </div>
</section>
<section class="desc-mugi">
    <div class="container about-mugi">
        <img class="logo-mugi" src="../../Content/assets/logo-01.png" />
        <h1>Microsoft User Group <b>Indonesia</b></h1>

        <div class="tab mugi">
            <button class="tablinks col-sm-3 active" style="display:block;" onclick="openCity(event, 'vision')"><b>Visi</b></button>
            <button class="tablinks col-sm-3 " onclick="openCity(event, 'mission')"><b>Misi</b></button>
            <button class="tablinks col-sm-3 " onclick="openCity(event, 'function')"><b>Fungsi</b></button>
        </div>

        <div id="vision" class="tabcontent" style="display:block;">
            <div class="col-sm-6 right-content">
                <img src="../../Content/assets/vm-01.png" />
            </div>
            <div class="col-sm-6 left-content">
                <h3>Visi</h3>
                <p>Menjadi komunitas teknologi terbesar di Indonesia pada 2025 yang fokus pada teknologi Microsoft.</p>
            </div>
        </div>

        <div id="mission" class="tabcontent">
            <div class="col-sm-6 right-content">
                <img src="../../Content/assets/vm-01.png" />
            </div>
            <div class="col-sm-6 left-content">
                <h3>Misi</h3>
                <ul class="ul-mugi">
                    <li>
                        Melakukan edukasi teknologi microsoft ke setiap organisasi dan masyarakat
                    </li>
                    <li>
                        Meningkatkan kerjasama dengan berbagai pihak untuk mendorong pemanfaatan teknologi microsoft
                    </li>
                    <li>
                        Meningkatkan keahlian, profesionalisme, dan produktivitas anggota komunitas MUGI
                    </li>
                </ul>
            </div>
        </div>

        <div id="function" class="tabcontent">
            <div class="col-sm-6 right-content">
                <img src="../../Content/assets/vm-01.png" />
            </div>
            <div class="col-sm-6 left-content">
                <h3>Fungsi</h3>
                <ul class="ul-mugi">
                    <li>
                        PHP Indonesia merupakan organisasi nirlaba yang berfungsi sebagai wadah komunikasi, koordinasi, konsultasi, edukasi dan kerjasama para anggotanya untuk meningkatkan kemampuan, saling pengertian dan rasa tanggung jawab terhadap peningkatan kesejahteraan anggota yang ikut bergabung dalan lembaga ini.
                    </li>
                    <li>
                        PHP Indonesia berfungsi untuk meningkatkan posisi tawar dan pengakuan pasar untuk meningkatkan kesejahteraan anggota yang tergabung di dalamnya dengan jalan pelaksanaan program peningkatan keahlian, peningkatan profesionalisme, sertifikasi yang diakui oleh pasar dan menumbuhkembangkan semangat kerjasama tim.
                    </li>
                    <li>
                        PHP Indonesia berfungsi menumbuhkan, mengembangkan dan meningkatkan peran pemrogram PHP dalam industri dan aplikasi telematika dalam kerangka pembangunan bangsa dan negara Indonesia.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="sponsor">
    <div class="container">
        <h2 class="partner">Sponsor & Partner</h2>
        <div class="list-partner">
            <a class="itempartner"> <img src="../../Content/assets/dummysponsor-02.png" /></a>
            <a class="itempartner"> <img src="../../Content/assets/dummysponsor-02.png" /></a>
            <a class="itempartner"> <img src="../../Content/assets/dummysponsor-02.png" /></a>
            <a class="itempartner"> <img src="../../Content/assets/dummysponsor-02.png" /></a>
            <a class="itempartner"> <img src="../../Content/assets/dummysponsor-02.png" /></a>
        </div>
    </div>
</section>
<section class="footer">
    <div class="container">

        <div class="col-md-6 footer-right">
            <h3>MIcrosoft User Group Indonesia</h3>
            <p>Berbagi dan Berkembang Bersama Komunitas</p>
        </div>
        <div class="col-md-6 footer-left">
            <p>Lorem ipsum dolor sit amet, affert homero percipit sea ut, dicunt maiorum honestatis eu vis. Vis detraxit urbanitas ut. Nobis option utroque vis ex, no his doctus eleifend. Has nemore fabulas ut. Option iuvaret pertinax ad est, pri dicta rationibus dissentiet ut.</p>
            <div class="row">
                <div class="col-md-6 sitemap">
                    <p>Sitemap</p>
                    <a href="">Tentang kami</a>
                    <a href="">Program Kerja</a>
                    <a href="">Dokumen</a>
                    <a href="">Galeri</a>
                </div>
                <div class="col-md-6 social-media">
                    <p>Social media</p>
                    <a href=""><i class="fa fa-facebook-square" href="https://www.facebook.com/groups/microsoft.user.group.indonesia/"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-github" href="https://github.com/MUGI-Nasional"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
