<section class="history">
    <div class="container">
        <div class="col-sm-6">
            <h4>Sejarah</h4>
        </div>
        <div class="col-sm-6">
            <h1>Lorem ipsum dolor sit amet, affert homero percipit sea ut</h1>
            <h2>dicunt maiorum honestatis eu vis. Vis detraxit urbanitas ut. Nobis option utroque vis ex, no his doctus eleifend. Has nemore fabulas ut. Option iuvaret pertinax ad est, pri dicta rationibus dissentiet ut.</h2>
        </div>
    </div>
</section>
<section class="organization">
    <div class="container-fluid">
        <div class="col-sm-6 chart">
            <h3 class="pull-right">Microsoft User Group <b>Indonesia</b></h3>
            <h2>Struktur Organisasi</h2>
            <a class="btn btn-one" href="#!/Views/About/struktur.html">
                <span>Lihat selengkapnya</span>
            </a>
        </div>
        <div class="col-sm-6 list">
            <h3 class="pull-right">Microsoft User Group <b>Indonesia</b></h3>
            <h2>Kepengurusan</h2>
            <h4>Periode (2015 - 2020)</h4>
            <a class="btn btn-one" href="#!/Views/About/kepengurusan.html">
                <span>Lihat selengkapnya</span>
            </a>
        </div>
    </div>
</section>
<section class="footer">
    <div class="container">

        <div class="col-md-6 footer-right">
            <h3>MIcrosoft User Group Indonesia</h3>
            <p>Berbagi dan Berkembang Bersama Komunitas</p>
            <h1>Subscribe</h1>
            <form>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="your@email.address">
                </div>
                <button type="submit" class="btn btn-default">Subscribe</button>
            </form>
        </div>
        <div class="col-md-6 footer-left">
            <p>Lorem ipsum dolor sit amet, affert homero percipit sea ut, dicunt maiorum honestatis eu vis. Vis detraxit urbanitas ut. Nobis option utroque vis ex, no his doctus eleifend. Has nemore fabulas ut. Option iuvaret pertinax ad est, pri dicta rationibus dissentiet ut.</p>
            <div class="row">
                <div class="col-md-6 sitemap">
                    <p>Sitemap</p>
                    <a href="">Tentang kami</a>
                    <a href="">Program Kerja</a>
                    <a href="">Dokumen</a>
                    <a href="">Galeri</a>
                </div>
                <div class="col-md-6 social-media">
                    <p>Social media</p>
                    <a href=""><i class="fa fa-facebook-square"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>