@font-face {
  font-family: 'office365icons';
  src: url('/fonts/office365icons.eot?');
  src: url('/fonts/office365icons.eot?#iefix') format('embedded-opentype'),
       url('/fonts/office365icons.woff?') format('woff'),
       url('/fonts/office365icons.ttf?') format('truetype'),
       url('/fonts/office365icons.svg?#office365icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'office365icons';
    src: url('/fonts/office365icons.svg?81770037#office365icons') format('svg');
  }
}
*/
 
 [class^="ms-icon-"]:before, [class*=" ms-icon-"]:before {
  font-family: "office365icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
}
 
.ms-icon-circleEmpty:before { content: '\e000'; } /* '' */
.ms-icon-circleFill:before { content: '\e001'; } /* '' */
.ms-icon-placeholder:before { content: '\e002'; } /* '' */
.ms-icon-star:before { content: '\e003'; } /* '' */
.ms-icon-plus:before { content: '\e004'; } /* '' */
.ms-icon-minus:before { content: '\e005'; } /* '' */
.ms-icon-question:before { content: '\e006'; } /* '' */
.ms-icon-exclamation:before { content: '\e007'; } /* '' */
.ms-icon-person:before { content: '\e008'; } /* '' */
.ms-icon-mail:before { content: '\e009'; } /* '' */
.ms-icon-infoCircle:before { content: '\e00a'; } /* '' */
.ms-icon-alert:before { content: '\e00b'; } /* '' */
.ms-icon-xCircle:before { content: '\e00c'; } /* '' */
.ms-icon-mailOpen:before { content: '\e00d'; } /* '' */
.ms-icon-people:before { content: '\e00e'; } /* '' */
.ms-icon-bell:before { content: '\e010'; } /* '' */
.ms-icon-calendar:before { content: '\e011'; } /* '' */
.ms-icon-scheduling:before { content: '\e012'; } /* '' */
.ms-icon-event:before { content: '\e013'; } /* '' */
.ms-icon-folder:before { content: '\e014'; } /* '' */
.ms-icon-documents:before { content: '\e015'; } /* '' */
.ms-icon-onedrive:before { content: '\e016'; } /* '' */
.ms-icon-chat:before { content: '\e017'; } /* '' */
.ms-icon-sites:before { content: '\e018'; } /* '' */
.ms-icon-listBullets:before { content: '\e019'; } /* '' */
.ms-icon-calendarWeek:before { content: '\e01a'; } /* '' */
.ms-icon-calendarWorkWeek:before { content: '\e01b'; } /* '' */
.ms-icon-calendarDay:before { content: '\e01c'; } /* '' */
.ms-icon-folderMove:before { content: '\e01d'; } /* '' */
.ms-icon-panel:before { content: '\e01e'; } /* '' */
.ms-icon-popout:before { content: '\e01f'; } /* '' */
.ms-icon-menu:before { content: '\e020'; } /* '' */
.ms-icon-home:before { content: '\e021'; } /* '' */
.ms-icon-favorites:before { content: '\e022'; } /* '' */
.ms-icon-phone:before { content: '\e023'; } /* '' */
.ms-icon-mailSend:before { content: '\e024'; } /* '' */
.ms-icon-save:before { content: '\e025'; } /* '' */
.ms-icon-trash:before { content: '\e026'; } /* '' */
.ms-icon-pencil:before { content: '\e027'; } /* '' */
.ms-icon-flag:before { content: '\e028'; } /* '' */
.ms-icon-reply:before { content: '\e029'; } /* '' */
.ms-icon-miniatures:before { content: '\e02a'; } /* '' */
.ms-icon-voicemail:before { content: '\e02b'; } /* '' */
.ms-icon-play:before { content: '\e02c'; } /* '' */
.ms-icon-pause:before { content: '\e02d'; } /* '' */
.ms-icon-onlineAdd:before { content: '\e02e'; } /* '' */
.ms-icon-onlineJoin:before { content: '\e02f'; } /* '' */
.ms-icon-replyAll:before { content: '\e030'; } /* '' */
.ms-icon-attachment:before { content: '\e031'; } /* '' */
.ms-icon-drm:before { content: '\e032'; } /* '' */
.ms-icon-pinDown:before { content: '\e033'; } /* '' */
.ms-icon-refresh:before { content: '\e034'; } /* '' */
.ms-icon-gear:before { content: '\e035'; } /* '' */
.ms-icon-smiley:before { content: '\e036'; } /* '' */
.ms-icon-info:before { content: '\e037'; } /* '' */
.ms-icon-lock:before { content: '\e038'; } /* '' */
.ms-icon-search:before { content: '\e039'; } /* '' */
.ms-icon-questionReverse:before { content: '\e03a'; } /* '' */
.ms-icon-notRecurring:before { content: '\e03b'; } /* '' */
.ms-icon-tasks:before { content: '\e040'; } /* '' */
.ms-icon-check:before { content: '\e041'; } /* '' */
.ms-icon-x:before { content: '\e042'; } /* '' */
.ms-icon-thumbDown:before { content: '\e043'; } /* '' */
.ms-icon-thumbUp:before { content: '\e044'; } /* '' */
.ms-icon-ellipsis:before { content: '\e045'; } /* '' */
.ms-icon-dot:before { content: '\e046'; } /* '' */
.ms-icon-arrowUp:before { content: '\e047'; } /* '' */
.ms-icon-arrowDown:before { content: '\e048'; } /* '' */
.ms-icon-arrowLeft:before { content: '\e049'; } /* '' */
.ms-icon-arrowRight:before { content: '\e04a'; } /* '' */
.ms-icon-download:before { content: '\e04b'; } /* '' */
.ms-icon-directions:before { content: '\e04c'; } /* '' */
.ms-icon-microphone:before { content: '\e04f'; } /* '' */
.ms-icon-caretUp:before { content: '\e051'; } /* '' */
.ms-icon-caretDown:before { content: '\e052'; } /* '' */
.ms-icon-caretLeft:before { content: '\e053'; } /* '' */
.ms-icon-caretRight:before { content: '\e054'; } /* '' */
.ms-icon-officeThreshold:before { content: '\e055'; } /* '' */
.ms-icon-office365:before { content: '\e056'; } /* '' */
.ms-icon-office365Preview:before { content: '\e057'; } /* '' */
.ms-icon-caretUpLeft:before { content: '\e05a'; } /* '' */
.ms-icon-caretUpRight:before { content: '\e05b'; } /* '' */
.ms-icon-caretDownRight:before { content: '\e05c'; } /* '' */
.ms-icon-caretDownLeft:before { content: '\e05d'; } /* '' */
.ms-icon-apps:before { content: '\e060'; } /* '' */
.ms-icon-officeStore:before { content: '\e061'; } /* '' */
.ms-icon-outlook:before { content: '\e062'; } /* '' */
.ms-icon-project:before { content: '\e063'; } /* '' */
.ms-icon-yammer:before { content: '\e064'; } /* '' */
.ms-icon-dynamicsCrm:before { content: '\e065'; } /* '' */
.ms-icon-lync:before { content: '\e066'; } /* '' */
.ms-icon-note:before { content: '\e06a'; } /* '' */
.ms-icon-noteReply:before { content: '\e06b'; } /* '' */
.ms-icon-noteForward:before { content: '\e06c'; } /* '' */
.ms-icon-key:before { content: '\e06f'; } /* '' */
.ms-icon-tile:before { content: '\e070'; } /* '' */
.ms-icon-taskRecurring:before { content: '\e071'; } /* '' */
.ms-icon-sharepoint:before { content: '\e072'; } /* '' */
.ms-icon-starEmpty:before { content: '\e073'; } /* '' */
.ms-icon-upload:before { content: '\e076'; } /* '' */
.ms-icon-wrench:before { content: '\e077'; } /* '' */
.ms-icon-share:before { content: '\e078'; } /* '' */
.ms-icon-documentReply:before { content: '\e079'; } /* '' */
.ms-icon-documentForward:before { content: '\e07a'; } /* '' */
.ms-icon-partner:before { content: '\e080'; } /* '' */
.ms-icon-admin:before { content: '\e081'; } /* '' */
.ms-icon-microsoft:before { content: '\e083'; } /* '' */
.ms-icon-reactivate:before { content: '\e084'; } /* '' */
.ms-icon-sort:before { content: '\e085'; } /* '' */
.ms-icon-personAdd:before { content: '\e086'; } /* '' */
.ms-icon-chevronUp:before { content: '\e087'; } /* '' */
.ms-icon-chevronDown:before { content: '\e088'; } /* '' */
.ms-icon-chevronLeft:before { content: '\e089'; } /* '' */
.ms-icon-chevronRight:before { content: '\e08a'; } /* '' */
.ms-icon-powerBi:before { content: '\e08b'; } /* '' */
.ms-icon-peopleAdd:before { content: '\e08c'; } /* '' */
.ms-icon-newsfeed:before { content: '\e08d'; } /* '' */
.ms-icon-notebook:before { content: '\e08e'; } /* '' */
.ms-icon-link:before { content: '\e08f'; } /* '' */
.ms-icon-chevronsUp:before { content: '\e090'; } /* '' */
.ms-icon-chevronsDown:before { content: '\e091'; } /* '' */
.ms-icon-chevronsLeft:before { content: '\e092'; } /* '' */
.ms-icon-chevronsRight:before { content: '\e093'; } /* '' */
.ms-icon-clutter:before { content: '\e09a'; } /* '' */
.ms-icon-subscribe:before { content: '\e09c'; } /* '' */
.ms-icon-unsubscribe:before { content: '\e09d'; } /* '' */
.ms-icon-personRemove:before { content: '\e09e'; } /* '' */
.ms-icon-receiptForward:before { content: '\e0a0'; } /* '' */
.ms-icon-receiptReply:before { content: '\e0a1'; } /* '' */
.ms-icon-receiptCheck:before { content: '\e0a2'; } /* '' */
.ms-icon-peopleRemove:before { content: '\e0a3'; } /* '' */
.ms-icon-merge:before { content: '\e0a4'; } /* '' */
.ms-icon-split:before { content: '\e0a5'; } /* '' */
.ms-icon-eventCancel:before { content: '\e0a6'; } /* '' */
.ms-icon-eventShare:before { content: '\e0a7'; } /* '' */
.ms-icon-today:before { content: '\e0a9'; } /* '' */
.ms-icon-oofReply:before { content: '\e0aa'; } /* '' */
.ms-icon-voicemailReply:before { content: '\e0ac'; } /* '' */
.ms-icon-voicemailForward:before { content: '\e0ad'; } /* '' */
.ms-icon-ribbon:before { content: '\e0af'; } /* '' */
.ms-icon-contact:before { content: '\e0b0'; } /* '' */
.ms-icon-eye:before { content: '\e0b1'; } /* '' */
.ms-icon-glasses:before { content: '\e0b2'; } /* '' */
.ms-icon-gallatin:before { content: '\e0b3'; } /* '' */
.ms-icon-access:before { content: '\e0b4'; } /* '' */
.ms-icon-excel:before { content: '\e0b5'; } /* '' */
.ms-icon-onenote:before { content: '\e0b7'; } /* '' */
.ms-icon-powerpoint:before { content: '\e0b8'; } /* '' */
.ms-icon-word:before { content: '\e0b9'; } /* '' */
.ms-icon-print:before { content: '\e100'; } /* '' */
.ms-icon-room:before { content: '\e101'; } /* '' */
.ms-icon-post:before { content: '\e102'; } /* '' */
.ms-icon-toggle:before { content: '\e103'; } /* '' */
.ms-icon-touch:before { content: '\e104'; } /* '' */
.ms-icon-clock:before { content: '\e105'; } /* '' */
.ms-icon-fax:before { content: '\e106'; } /* '' */
.ms-icon-lightning:before { content: '\e110'; } /* '' */
.ms-icon-dialpad:before { content: '\e111'; } /* '' */
.ms-icon-phoneTransfer:before { content: '\e112'; } /* '' */
.ms-icon-phoneAdd:before { content: '\e113'; } /* '' */
.ms-icon-late:before { content: '\e114'; } /* '' */
.ms-icon-chatAdd:before { content: '\e115'; } /* '' */
.ms-icon-conflict:before { content: '\e116'; } /* '' */
.ms-icon-navigate:before { content: '\e117'; } /* '' */
.ms-icon-delve:before { content: '\e118'; } /* '' */
.ms-icon-camera:before { content: '\e119'; } /* '' */
.ms-icon-filter:before { content: '\e11a'; } /* '' */
.ms-icon-fullscreen:before { content: '\e11b'; } /* '' */
.ms-icon-new:before { content: '\e11c'; } /* '' */
.ms-icon-mailEmpty:before { content: '\e11d'; } /* '' */
.ms-icon-editBox:before { content: '\e11e'; } /* '' */
.ms-icon-waffle:before { content: '\e11f'; } /* '' */
.ms-icon-work:before { content: '\e120'; } /* '' */
.ms-icon-eventRecurring:before { content: '\e121'; } /* '' */
.ms-icon-cart:before { content: '\e122'; } /* '' */
.ms-icon-socialListening:before { content: '\e123'; } /* '' */
.ms-icon-mapMarker:before { content: '\e124'; } /* '' */
.ms-icon-org:before { content: '\e125'; } /* '' */
.ms-icon-adminA:before { content: '\e130'; } /* '' */
.ms-icon-adminC:before { content: '\e131'; } /* '' */
.ms-icon-adminD:before { content: '\e132'; } /* '' */
.ms-icon-adminE:before { content: '\e133'; } /* '' */
.ms-icon-adminL:before { content: '\e134'; } /* '' */
.ms-icon-adminM:before { content: '\e135'; } /* '' */
.ms-icon-adminO:before { content: '\e136'; } /* '' */
.ms-icon-adminP:before { content: '\e137'; } /* '' */
.ms-icon-adminS:before { content: '\e138'; } /* '' */
.ms-icon-adminY:before { content: '\e139'; } /* '' */
.ms-icon-replyAlt:before { content: '\e150'; } /* '' */
.ms-icon-replyAllAlt:before { content: '\e152'; } /* '' */
.ms-icon-eventInfo:before { content: '\e154'; } /* '' */
.ms-icon-group:before { content: '\e155'; } /* '' */
.ms-icon-office:before { content: '\e160'; } /* '' */
.ms-icon-money:before { content: '\e161'; } /* '' */
.ms-icon-graph:before { content: '\e162'; } /* '' */
.ms-icon-noteEdit:before { content: '\e163'; } /* '' */
.ms-icon-dashboard:before { content: '\e164'; } /* '' */
.ms-icon-mailEdit:before { content: '\e165'; } /* '' */
.ms-icon-pinLeft:before { content: '\e167'; } /* '' */
.ms-icon-onedriveAdd:before { content: '\e168'; } /* '' */
.ms-icon-heart:before { content: '\e16a'; } /* '' */
.ms-icon-heartEmpty:before { content: '\e16b'; } /* '' */
.ms-icon-picture:before { content: '\e16c'; } /* '' */
.ms-icon-cake:before { content: '\e16d'; } /* '' */
.ms-icon-books:before { content: '\e16e'; } /* '' */
.ms-icon-chart:before { content: '\e16f'; } /* '' */
.ms-icon-video:before { content: '\e170'; } /* '' */
.ms-icon-soccer:before { content: '\e171'; } /* '' */
.ms-icon-meal:before { content: '\e172'; } /* '' */
.ms-icon-balloon:before { content: '\e173'; } /* '' */
.ms-icon-cat:before { content: '\e174'; } /* '' */
.ms-icon-dog:before { content: '\e175'; } /* '' */
.ms-icon-bag:before { content: '\e176'; } /* '' */
.ms-icon-music:before { content: '\e177'; } /* '' */
.ms-icon-stopwatch:before { content: '\e178'; } /* '' */
.ms-icon-coffee:before { content: '\e179'; } /* '' */
.ms-icon-briefcase:before { content: '\e17a'; } /* '' */
.ms-icon-pill:before { content: '\e17b'; } /* '' */
.ms-icon-trophy:before { content: '\e17c'; } /* '' */
.ms-icon-firstAid:before { content: '\e17d'; } /* '' */
.ms-icon-plane:before { content: '\e17e'; } /* '' */
.ms-icon-page:before { content: '\e17f'; } /* '' */
.ms-icon-car:before { content: '\e180'; } /* '' */
.ms-icon-dogAlt:before { content: '\e181'; } /* '' */
.ms-icon-document:before { content: '\e182'; } /* '' */
.ms-icon-metadata:before { content: '\e183'; } /* '' */
.ms-icon-pointItem:before { content: '\e184'; } /* '' */
.ms-icon-text:before { content: '\e185'; } /* '' */
.ms-icon-fieldText:before { content: '\e186'; } /* '' */
.ms-icon-fieldNumber:before { content: '\e187'; } /* '' */
.ms-icon-dropdown:before { content: '\e188'; } /* '' */
.ms-icon-radioButton:before { content: '\e189'; } /* '' */
.ms-icon-checkbox:before { content: '\e18a'; } /* '' */
.ms-icon-story:before { content: '\e18b'; } /* '' */
.ms-icon-bold:before { content: '\e18c'; } /* '' */
.ms-icon-italic:before { content: '\e18d'; } /* '' */
.ms-icon-underline:before { content: '\e18e'; } /* '' */
.ms-icon-quote:before { content: '\e18f'; } /* '' */
.ms-icon-styleRemove:before { content: '\e190'; } /* '' */
.ms-icon-pictureAdd:before { content: '\e191'; } /* '' */
.ms-icon-pictureRemove:before { content: '\e192'; } /* '' */
.ms-icon-desktop:before { content: '\e193'; } /* '' */
.ms-icon-tablet:before { content: '\e194'; } /* '' */
.ms-icon-mobile:before { content: '\e195'; } /* '' */
.ms-icon-table:before { content: '\e196'; } /* '' */
.ms-icon-hide:before { content: '\e197'; } /* '' */
.ms-icon-shield:before { content: '\e198'; } /* '' */
.ms-icon-skype:before { content: '\e199'; } /* '' */
.ms-icon-header:before { content: '\e19a'; } /* '' */
.ms-icon-paint:before { content: '\e19b'; } /* '' */
.ms-icon-support:before { content: '\e19c'; } /* '' */
.ms-icon-settings:before { content: '\e19d'; } /* '' */
.ms-icon-creditCard:before { content: '\e19e'; } /* '' */
.ms-icon-reload:before { content: '\e19f'; } /* '' */
.ms-icon-peopleSecurity:before { content: '\e200'; } /* '' */
.ms-icon-visio:before { content: '\e201'; } /* '' */
.ms-icon-officeVideo:before { content: '\e202'; } /* '' */
.ms-icon-fieldTextBox:before { content: '\e203'; } /* '' */
.ms-icon-multiChoice:before { content: '\e204'; } /* '' */
.ms-icon-fieldMail:before { content: '\e205'; } /* '' */
.ms-icon-contactForm:before { content: '\e206'; } /* '' */
.ms-icon-circleHalfFilled:before { content: '\e207'; } /* '' */
.ms-icon-documentPDF:before { content: '\e208'; } /* '' */
.ms-icon-bookmark:before { content: '\e209'; } /* '' */
.ms-icon-parature:before { content: '\e20a'; } /* '' */
.ms-icon-circleUnfilled:before { content: '\e20b'; } /* '' */
.ms-icon-circleFilled:before { content: '\e20c'; } /* '' */
.ms-icon-aad:before { content: '\e20d'; } /* '' */
.ms-icon-textBox:before { content: '\e20e'; } /* '' */
.ms-icon-drop:before { content: '\e20f'; } /* '' */
.ms-icon-sun:before { content: '\e210'; } /* '' */
.ms-icon-lifesaver:before { content: '\e211'; } /* '' */
.ms-icon-lifesaverLock:before { content: '\e212'; } /* '' */
.ms-icon-mailUnread:before { content: '\e213'; } /* '' */
.ms-icon-mailRead:before { content: '\e214'; } /* '' */
.ms-icon-inboxCheck:before { content: '\e215'; } /* '' */
.ms-icon-folderSearch:before { content: '\e216'; } /* '' */
.ms-icon-collapse:before { content: '\e217'; } /* '' */
.ms-icon-expand:before { content: '\e218'; } /* '' */
.ms-icon-ascending:before { content: '\e219'; } /* '' */
.ms-icon-descending:before { content: '\e21a'; } /* '' */
.ms-icon-filterClear:before { content: '\e21b'; } /* '' */
.ms-icon-checkboxEmpty:before { content: '\e21c'; } /* '' */
.ms-icon-checkboxMixed:before { content: '\e21d'; } /* '' */
.ms-icon-boards:before { content: '\e21e'; } /* '' */
.ms-icon-checkboxCheck:before { content: '\e21f'; } /* '' */
.ms-icon-frowny:before { content: '\e220'; } /* '' */
.ms-icon-lightBulb:before { content: '\e221'; } /* '' */
.ms-icon-globe:before { content: '\e222'; } /* '' */
.ms-icon-deviceWipe:before { content: '\e223'; } /* '' */
.ms-icon-exchange:before { content: '\e224'; } /* '' */
.ms-icon-bing:before { content: '\e225'; } /* '' */
.ms-icon-listCheck:before { content: '\e226'; } /* '' */
.ms-icon-listGroup:before { content: '\e227'; } /* '' */
.ms-icon-timeline:before { content: '\e228'; } /* '' */
.ms-icon-fontIncrease:before { content: '\e229'; } /* '' */
.ms-icon-fontDecrease:before { content: '\e22a'; } /* '' */
.ms-icon-fontColor:before { content: '\e22b'; } /* '' */
.ms-icon-mailCheck:before { content: '\e22c'; } /* '' */
.ms-icon-mailDown:before { content: '\e22d'; } /* '' */
.ms-icon-listCheckbox:before { content: '\e22e'; } /* '' */
.ms-icon-sunAdd:before { content: '\e22f'; } /* '' */
.ms-icon-sunQuestion:before { content: '\e230'; } /* '' */
.ms-icon-chevronThinUp:before { content: '\e231'; } /* '' */
.ms-icon-chevronThinDown:before { content: '\e232'; } /* '' */
.ms-icon-chevronThinLeft:before { content: '\e233'; } /* '' */
.ms-icon-chevronThinRight:before { content: '\e234'; } /* '' */
.ms-icon-chevronThickUp:before { content: '\e235'; } /* '' */
.ms-icon-chevronThickDown:before { content: '\e236'; } /* '' */
.ms-icon-chevronThickLeft:before { content: '\e237'; } /* '' */
.ms-icon-chevronThickRight:before { content: '\e238'; } /* '' */
.ms-icon-linkRemove:before { content: '\e239'; } /* '' */
.ms-icon-alchemy:before { content: '\e23a'; } /* '' */
.ms-icon-alertOutline:before { content: '\e23b'; } /* '' */
.ms-icon-documentLandscape:before { content: '\e23c'; } /* '' */
.ms-icon-documentAdd:before { content: '\e23d'; } /* '' */
.ms-icon-toggleMiddle:before { content: '\e23e'; } /* '' */
.ms-icon-embed:before { content: '\e23f'; } /* '' */
.ms-icon-listNumbered:before { content: '\e240'; } /* '' */
.ms-icon-msn:before { content: '\e241'; } /* '' */
.ms-icon-peopleCheck:before { content: '\e242'; } /* '' */
.ms-icon-caretUpOutline:before { content: '\e243'; } /* '' */
.ms-icon-caretDownOutline:before { content: '\e244'; } /* '' */
.ms-icon-caretLeftOutline:before { content: '\e245'; } /* '' */
.ms-icon-caretRightOutline:before { content: '\e246'; } /* '' */
.ms-icon-sway:before { content: '\e247'; } /* '' */
.ms-icon-mailSync:before { content: '\e248'; } /* '' */
.ms-icon-mailError:before { content: '\e249'; } /* '' */
.ms-icon-mailPause:before { content: '\e24a'; } /* '' */
.ms-icon-peopleSync:before { content: '\e24b'; } /* '' */
.ms-icon-peopleError:before { content: '\e24c'; } /* '' */
.ms-icon-peoplePause:before { content: '\e24d'; } /* '' */
.ms-icon-circleBall:before { content: '\e24e'; } /* '' */
.ms-icon-circleBalloons:before { content: '\e24f'; } /* '' */
.ms-icon-circleCar:before { content: '\e250'; } /* '' */
.ms-icon-circleCat:before { content: '\e251'; } /* '' */
.ms-icon-circleCoffee:before { content: '\e252'; } /* '' */
.ms-icon-circleDog:before { content: '\e253'; } /* '' */
.ms-icon-circleLightning:before { content: '\e254'; } /* '' */
.ms-icon-circlePill:before { content: '\e255'; } /* '' */
.ms-icon-circlePlane:before { content: '\e256'; } /* '' */
.ms-icon-circlePoodle:before { content: '\e257'; } /* '' */
.ms-icon-skypeForBusiness:before { content: '\e258'; } /* '' */
.ms-icon-checkPeople:before { content: '\e259'; } /* '' */
.ms-icon-documentSearch:before { content: '\e25a'; } /* '' */
.ms-icon-dynamicsMarketing:before { content: '\e25b'; } /* '' */
.ms-icon-sortLines:before { content: '\e25c'; } /* '' */
.ms-icon-calendarPublic:before { content: '\e25d'; } /* '' */
.ms-icon-contactPublic:before { content: '\e25e'; } /* '' */
.ms-icon-classNotebook:before { content: '\e25f'; } /* '' */
.ms-icon-triangleUp:before { content: '\e260'; } /* '' */
.ms-icon-triangleRight:before { content: '\e261'; } /* '' */
.ms-icon-triangleDown:before { content: '\e262'; } /* '' */
.ms-icon-triangleLeft:before { content: '\e263'; } /* '' */
.ms-icon-triangleEmptyUp:before { content: '\e264'; } /* '' */
.ms-icon-triangleEmptyRight:before { content: '\e265'; } /* '' */
.ms-icon-triangleEmptyDown:before { content: '\e266'; } /* '' */
.ms-icon-triangleEmptyLeft:before { content: '\e267'; } /* '' */
.ms-icon-filePDF:before { content: '\e268'; } /* '' */
.ms-icon-fileWord:before { content: '\e269'; } /* '' */
.ms-icon-filePowerPoint:before { content: '\e26a'; } /* '' */
.ms-icon-fileExcel:before { content: '\e26b'; } /* '' */
.ms-icon-fileImage:before { content: '\e26c'; } /* '' */
.ms-icon-fileDocument:before { content: '\e26d'; } /* '' */
.ms-icon-listGroup2:before { content: '\e26e'; } /* '' */
.ms-icon-copy:before { content: '\e26f'; } /* '' */
.ms-icon-creditCardOutline:before { content: '\e270'; } /* '' */
.ms-icon-officeAssistant:before { content: '\e271'; } /* '' */
.ms-icon-mailPublic:before { content: '\e272'; } /* '' */
.ms-icon-folderPublic:before { content: '\e273'; } /* '' */
.ms-icon-teamwork:before { content: '\e274'; } /* '' */
.ms-icon-move:before { content: '\e275'; } /* '' */
.ms-icon-classroom:before { content: '\e276'; } /* '' */
.ms-icon-menu2:before { content: '\e277'; } /* '' */
.ms-icon-plus2:before { content: '\e278'; } /* '' */
.ms-icon-tag:before { content: '\e279'; } /* '' */
.ms-icon-arrowUp2:before { content: '\e27a'; } /* '' */
.ms-icon-arrowDown2:before { content: '\e27b'; } /* '' */
.ms-icon-circlePlus:before { content: '\e27c'; } /* '' */
.ms-icon-circleInfo:before { content: '\e27d'; } /* '' */
.ms-icon-section:before { content: '\e27e'; } /* '' */
.ms-icon-sections:before { content: '\e27f'; } /* '' */
.ms-icon-oneNoteEdu:before { content: '\e280'; } /* '' */
.ms-icon-powerBi2:before { content: '\e281'; } /* '' */
.ms-icon-at:before { content: '\e282'; } /* '' */
.ms-icon-arrowUpRight:before { content: '\e283'; } /* '' */
.ms-icon-arrowDownRight:before { content: '\e284'; } /* '' */
.ms-icon-arrowDownLeft:before { content: '\e285'; } /* '' */
.ms-icon-arrowUpLeft:before { content: '\e286'; } /* '' */
.ms-icon-bundle:before { content: '\e287'; } /* '' */
.ms-icon-pictureEdit:before { content: '\e288'; } /* '' */
.ms-icon-protectionCenter:before { content: '\e289'; } /* '' */
.ms-icon-alert2:before { content: '\e28a'; } /* '' */
.ms-icon-cocktail:before { content: '\e28b'; } /* '' */
.ms-icon-cloud:before { content: '\e28c'; } /* '' */
.ms-icon-dashboard2:before { content: '\e28d'; } /* '' */
.ms-icon-circleCheck:before { content: '\e28e'; } /* '' */
.ms-icon-circleExclamation:before { content: '\e28f'; } /* '' */
.ms-icon-docs:before { content: '\e290'; } /* '' */
.ms-icon-family:before { content: '\e291'; } /* '' */
.ms-icon-properties:before { content: '\e292'; } /* '' */
.ms-icon-volumeHi:before { content: '\e293'; } /* '' */
.ms-icon-volumeMed:before { content: '\e294'; } /* '' */
.ms-icon-volumeLo:before { content: '\e295'; } /* '' */
.ms-icon-volumeOff:before { content: '\e296'; } /* '' */
.ms-icon-tv:before { content: '\e297'; } /* '' */
.ms-icon-suitcase:before { content: '\e298'; } /* '' */
.ms-icon-ticket:before { content: '\e299'; } /* '' */
.ms-icon-starburst:before { content: '\e29a'; } /* '' */
.ms-icon-share2:before { content: '\e29b'; } /* '' */
.ms-icon-cutout:before { content: '\e29c'; } /* '' */
.ms-icon-live:before { content: '\e29d'; } /* '' */
.ms-icon-documentLock:before { content: '\e29e'; } /* '' */
.ms-icon-archive:before { content: '\e29f'; } /* '' */
.ms-icon-glimmer:before { content: '\e300'; } /* '' */
.ms-icon-documentLock2:before { content: '\e301'; } /* '' */
.ms-icon-ticketPlane:before { content: '\e302'; } /* '' */
.ms-icon-waffle2:before { content: '\e303'; } /* '' */
.ms-icon-eventAdd:before { content: '\e304'; } /* '' */
.ms-icon-groups:before { content: '\e305'; } /* '' */
.ms-icon-folderOpen:before { content: '\e306'; } /* '' */
.ms-icon-person2:before { content: '\e307'; } /* '' */
.ms-icon-lock2:before { content: '\e308'; } /* '' */
.ms-icon-lockOpen2:before { content: '\e309'; } /* '' */
.ms-icon-barChart:before { content: '\e30a'; } /* '' */
.ms-icon-circleChart:before { content: '\e30b'; } /* '' */
.ms-icon-pencilReply:before { content: '\e30c'; } /* '' */
.ms-icon-boards2:before { content: '\e30d'; } /* '' */
.ms-icon-people2:before { content: '\e30e'; } /* '' */
.ms-icon-health:before { content: '\e30f'; } /* '' */
.ms-icon-skypeCircleCheck:before { content: '\e310'; } /* '' */
.ms-icon-skypeCircleClock:before { content: '\e311'; } /* '' */
.ms-icon-skypeCircleMinus:before { content: '\e312'; } /* '' */
.ms-icon-lightBulb2:before { content: '\e313'; } /* '' */
.ms-icon-powerApps:before { content: '\e314'; } /* '' */
.ms-icon-skypeCheck:before { content: '\e315'; } /* '' */
.ms-icon-skypeClock:before { content: '\e316'; } /* '' */
.ms-icon-skypeMinus:before { content: '\e317'; } /* '' */
.ms-icon-delveAnalytics:before { content: '\e318'; } /* '' */
.ms-icon-planner:before { content: '\e319'; } /* '' */
.ms-icon-edgeBrowser:before { content: '\e31a'; } /* '' */
.ms-icon-recycleBin:before { content: '\e31b'; } /* '' */
.ms-icon-recycleBinEmpty:before { content: '\e31c'; } /* '' */
.ms-icon-groupingAscending:before { content: '\e31d'; } /* '' */
.ms-icon-groupingDescending:before { content: '\e31e'; } /* '' */
.ms-icon-collabDB:before { content: '\e31f'; } /* '' */
.ms-icon-captions:before { content: '\e320'; } /* '' */
.ms-icon-undo:before { content: '\e321'; } /* '' */
.ms-icon-emptyDocument:before { content: '\e323'; } /* '' */
.ms-icon-emptyDocuments:before { content: '\e324'; } /* '' */
.ms-icon-emptyDraft:before { content: '\e325'; } /* '' */
.ms-icon-emptyMail:before { content: '\e326'; } /* '' */
.ms-icon-emptySearch:before { content: '\e327'; } /* '' */
.ms-icon-emptyTrash:before { content: '\e328'; } /* '' */
.ms-icon-emptyTrophy:before { content: '\e329'; } /* '' */
.ms-icon-bookings:before { content: '\e32a'; } /* '' */
.ms-icon-package:before { content: '\e32b'; } /* '' */
.ms-icon-dynamicsSMB:before { content: '\e32c'; } /* '' */
.ms-icon-createNew:before { content: '\e32d'; } /* '' */
.ms-icon-emptyBag:before { content: '\e32e'; } /* '' */
.ms-icon-emptyPlane:before { content: '\e32f'; } /* '' */
.ms-icon-emptyCoupon:before { content: '\e330'; } /* '' */
.ms-icon-atp:before { content: '\e331'; } /* '' */
.ms-icon-emptyNewsletter:before { content: '\e332'; } /* '' */
.ms-icon-officeForms:before { content: '\e333'; } /* '' */
.ms-icon-unpin:before { content: '\e334'; } /* '' */
.ms-icon-replace:before { content: '\e335'; } /* '' */
.ms-icon-folderAdd:before { content: '\e336'; } /* '' */
.ms-icon-album:before { content: '\e337'; } /* '' */
.ms-icon-skypeMessage:before { content: '\e338'; } /* '' */
.ms-icon-largeGrid:before { content: '\e339'; } /* '' */
.ms-icon-flow:before { content: '\e33a'; } /* '' */
.ms-icon-documentSet:before { content: '\e33b'; } /* '' */
.ms-icon-emptyShared:before { content: '\e33c'; } /* '' */
.ms-icon-emptyPackage:before { content: '\e33d'; } /* '' */
.ms-icon-poll:before { content: '\e33e'; } /* '' */
.ms-icon-zoomIn:before { content: '\e33f'; } /* '' */
.ms-icon-zoomOut:before { content: '\e340'; } /* '' */
.ms-icon-workflows:before { content: '\e341'; } /* '' */
.ms-icon-docsCom:before { content: '\e342'; } /* '' */
.ms-icon-iosAppStore:before { content: '\e343'; } /* '' */
.ms-icon-breadcrumb:before { content: '\e344'; } /* '' */
.ms-icon-android:before { content: '\e345'; } /* '' */
.ms-icon-windows:before { content: '\e346'; } /* '' */
.ms-icon-emptyError:before { content: '\e347'; } /* '' */
.ms-icon-emptyFolder:before { content: '\e348'; } /* '' */
.ms-icon-emptySearch-1:before { content: '\e349'; } /* '' */
.ms-icon-emptyAttachment:before { content: '\e34a'; } /* '' */
.ms-icon-powerApps2:before { content: '\e34b'; } /* '' */
.ms-icon-compass:before { content: '\e34c'; } /* '' */
.ms-icon-eventAdd2:before { content: '\e34d'; } /* '' */
.ms-icon-flow2:before { content: '\e34e'; } /* '' */
.ms-icon-stream:before { content: '\e34f'; } /* '' */
.ms-icon-defenderAtp:before { content: '\e350'; } /* '' */
.ms-icon-trash2:before { content: '\e351'; } /* '' */
.ms-icon-refresh2:before { content: '\e352'; } /* '' */
.ms-icon-x2:before { content: '\e353'; } /* '' */
.ms-icon-attachment2:before { content: '\e354'; } /* '' */
.ms-icon-bell2:before { content: '\e355'; } /* '' */
.ms-icon-tag2:before { content: '\e356'; } /* '' */
.ms-icon-mapMarker2:before { content: '\e357'; } /* '' */
.ms-icon-picture2:before { content: '\e358'; } /* '' */
.ms-icon-pinLeft2:before { content: '\e359'; } /* '' */
.ms-icon-pinDownLeft2:before { content: '\e35a'; } /* '' */
.ms-icon-note2:before { content: '\e35b'; } /* '' */
.ms-icon-gear2:before { content: '\e35c'; } /* '' */
.ms-icon-search2:before { content: '\e35d'; } /* '' */
.ms-icon-check2:before { content: '\e35e'; } /* '' */
.ms-icon-circleCheck2:before { content: '\e35f'; } /* '' */
.ms-icon-undo2:before { content: '\e360'; } /* '' */
.ms-icon-flowLight:before { content: '\e361'; } /* '' */
.ms-icon-skypeTeams:before { content: '\e362'; } /* '' */
.ms-icon-clipboard:before { content: '\e363'; } /* '' */
.ms-icon-timer:before { content: '\e364'; } /* '' */
.ms-icon-badge:before { content: '\e365'; } /* '' */
.ms-icon-document2:before { content: '\e366'; } /* '' */
.ms-icon-unread:before { content: '\e367'; } /* '' */
.ms-icon-docConversation:before { content: '\e368'; } /* '' */
.ms-icon-direct:before { content: '\e369'; } /* '' */
.ms-icon-mention:before { content: '\e36a'; } /* '' */
.ms-icon-flag2:before { content: '\e36b'; } /* '' */
.ms-icon-magnifyingGlass:before { content: '\e36c'; } /* '' */
.ms-icon-summarize:before { content: '\e36d'; } /* '' */
.ms-icon-cityNext:before { content: '\e36e'; } /* '' */
.ms-icon-lock3:before { content: '\e36f'; } /* '' */
.ms-icon-malware:before { content: '\e370'; } /* '' */
.ms-icon-starPlus:before { content: '\e371'; } /* '' */
.ms-icon-bufferTimeBefore:before { content: '\e372'; } /* '' */
.ms-icon-bufferTimeAfter:before { content: '\e373'; } /* '' */
.ms-icon-bufferTimeBoth:before { content: '\e374'; } /* '' */
.ms-icon-dynamics365:before { content: '\e375'; } /* '' */
.ms-icon-plannerHub:before { content: '\e376'; } /* '' */
.ms-icon-plannerCharts:before { content: '\e377'; } /* '' */
.ms-icon-plannerBoards:before { content: '\e378'; } /* '' */
.ms-icon-teams:before { content: '\e379'; } /* '' */
.ms-icon-shoppingBag:before { content: '\e37a'; } /* '' */
.ms-icon-businessCenter:before { content: '\e37b'; } /* '' */
.ms-icon-favoriteList:before { content: '\e37c'; } /* '' */
.ms-icon-miniExpand:before { content: '\e37d'; } /* '' */
.ms-icon-nonprofit:before { content: '\e37e'; } /* '' */
.ms-icon-mailOpen2:before { content: '\e37f'; } /* '' */
.ms-icon-reminderGroup:before { content: '\e380'; } /* '' */
.ms-icon-circleCheck3:before { content: '\e381'; } /* '' */
.ms-icon-desktop2:before { content: '\e382'; } /* '' */
.ms-icon-tablet2:before { content: '\e383'; } /* '' */
.ms-icon-mobile2:before { content: '\e384'; } /* '' */
.ms-icon-officeLens:before { content: '\e385'; } /* '' */
.ms-icon-outlook2:before { content: '\e386'; } /* '' */
.ms-icon-word2:before { content: '\e387'; } /* '' */
.ms-icon-powerpoint2:before { content: '\e388'; } /* '' */
.ms-icon-excel2:before { content: '\e389'; } /* '' */
.ms-icon-onenote2:before { content: '\e38a'; } /* '' */
.ms-icon-access2:before { content: '\e38b'; } /* '' */
.ms-icon-publisher2:before { content: '\e38c'; } /* '' */
.ms-icon-smiley2:before { content: '\e38d'; } /* '' */
.ms-icon-calendar2:before { content: '\e38e'; } /* '' */
.ms-icon-office2007:before { content: '\e38f'; } /* '' */
.ms-icon-office2010:before { content: '\e390'; } /* '' */
.ms-icon-packages:before { content: '\e391'; } /* '' */
.ms-icon-gears:before { content: '\e392'; } /* '' */
.ms-icon-addressBook:before { content: '\e393'; } /* '' */
.ms-icon-folderClosed:before { content: '\e394'; } /* '' */
.ms-icon-circleChevronLeft:before { content: '\e395'; } /* '' */
.ms-icon-circleChevronRight:before { content: '\e396'; } /* '' */
.ms-icon-circleChevronLeftFilled:before { content: '\e397'; } /* '' */
.ms-icon-circleChevronRightFilled:before { content: '\e398'; } /* '' */
.ms-icon-mail2:before { content: '\e399'; } /* '' */
.ms-icon-alert3:before { content: '\e39a'; } /* '' */
.ms-icon-openInNewWindow:before { content: '\e39b'; } /* '' */
.ms-icon-rewards:before { content: '\e39c'; } /* '' */
.ms-icon-powerBi3:before { content: '\e39d'; } /* '' */
.ms-icon-phone2:before { content: '\e39e'; } /* '' */
.ms-icon-scheduling2:before { content: '\e39f'; } /* '' */
.ms-icon-calendarPeople:before { content: '\e400'; } /* '' */
.ms-icon-outlookPremium:before { content: '\e401'; } /* '' */
.ms-icon-barChartVertical:before { content: '\e402'; } /* '' */
.ms-icon-circlePlus2:before { content: '\e403'; } /* '' */
.ms-icon-emptyDocumentSearch:before { content: '\e404'; } /* '' */
.ms-icon-emptyImageSearch:before { content: '\e405'; } /* '' */
.ms-icon-emptyImage:before { content: '\e406'; } /* '' */
.ms-icon-kaizala:before { content: '\e407'; } /* '' */
.ms-icon-share3:before { content: '\e408'; } /* '' */
.ms-icon-myAnalytics:before { content: '\e409'; } /* '' */
.ms-icon-myAnalytics2:before { content: '\e40a'; } /* '' */
.ms-icon-findTime:before { content: '\e40b'; } /* '' */
.ms-icon-circleX:before { content: '\e40c'; } /* '' */
.ms-icon-fiveTileGrid:before { content: '\e40d'; } /* '' */
.ms-icon-vennDiagram:before { content: '\e40e'; } /* '' */
.ms-icon-highlight:before { content: '\e40f'; } /* '' */
.ms-icon-comment:before { content: '\e410'; } /* '' */
.ms-icon-cloud2:before { content: '\e411'; } /* '' */
.ms-icon-protectRestrict:before { content: '\e412'; } /* '' */
.ms-icon-checkbox2:before { content: '\e413'; } /* '' */
.ms-icon-checkboxIndeterminate:before { content: '\e414'; } /* '' */
.ms-icon-checkboxComposite:before { content: '\e415'; } /* '' */
.ms-icon-tileView:before { content: '\e416'; } /* '' */
.ms-icon-contactInfo:before { content: '\e417'; } /* '' */
.ms-icon-toDoLogo:before { content: '\e418'; } /* '' */
.ms-icon-businessCenter2:before { content: '\e419'; } /* '' */
.ms-icon-shoppingList:before { content: '\e41a'; } /* '' */
.ms-icon-cutOut2:before { content: '\e41b'; } /* '' */
.ms-icon-news:before { content: '\e41c'; } /* '' */
.ms-icon-plane2:before { content: '\e41d'; } /* '' */
.ms-icon-link2:before { content: '\e41e'; } /* '' */
.ms-icon-toggleOn:before { content: '\e41f'; } /* '' */
.ms-icon-toggleOff:before { content: '\e420'; } /* '' */
.ms-icon-staffHub:before { content: '\e421'; } /* '' */
.ms-icon-linkShield:before { content: '\e422'; } /* '' */